* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem; /* 20px */
}
.app_left {
  flex: 0.9;
}
.app_right {
  display: flex;
  flex-direction: column;
}
.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app_right h3 {
  color: #123456;
  font-weight: 600;
  font-size: 1.125rem;
}
.app_graphTitle {
  margin: 1rem 0;
}
.app_graph {
  flex-grow: 1;
}
.app_dropdown {
  background-color: #fff;
  border-radius: 0.3125rem; /* 5px */
}
.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem; /* 20px */
}
.app_header h1 {
  color: #cc1034;
  font-size: 2.125rem;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 61.875rem) {
  /* 990px */
  .app {
    flex-direction: column;
  }
}
